// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.model {
  height:240px;
  margin:15px
}

.model img {
  margin-bottom: 15px
}

.row {
  margin:0px
}